# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
ENV/
env/

# ===============================
# PyCharm / IntelliJ
# ===============================
.idea/
*.iml
out/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs & Temp
# ===============================
*.log
*.tmp

# ===============================
# Build / Distribution
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Testing
# ===============================
.pytest_cache/
.coverage
htmlcov/

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Test Code
# ===============================
test.ipynb

# ===============================
# Data
# ===============================
business_plan/
ipc_statistics/
reports/